<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>beLight</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="apple-touch-icon" sizes="120x120" href="/media/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/media/touch-icon-ipad-retina.png">
  <link rel="shortcut icon" sizes="196x196" href="/media/android.png">
  <link rel="stylesheet" href="/media/tellstick.css">
  <script src="/media/tellstick.js"></script>
  <% if(host !== false) { %>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('<%= host %>');
    socket.on('update', function (data) {
      $('[data-id='+data.device+']').removeClass('pure-button-primary');
      $('[data-id='+data.device+'][data-state='+data.state+']').addClass('pure-button-primary');
    });
  </script>
  <% } %>
</head>
<body class="content">
